<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>524493954568-34dcco8vqf9kh8g4vel2tvm9abbbn283.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524493954568-34dcco8vqf9kh8g4vel2tvm9abbbn283</string>
	<key>API_KEY</key>
	<string>AIzaSyBTpBgzoQSW91DGVyhRBe2Q1HrCS2C8hRA</string>
	<key>GCM_SENDER_ID</key>
	<string>524493954568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devclan.TolleyApp</string>
	<key>PROJECT_ID</key>
	<string>trolleyapp-d9636</string>
	<key>STORAGE_BUCKET</key>
	<string>trolleyapp-d9636.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:524493954568:ios:6454314f5e0b70aa</string>
	<key>DATABASE_URL</key>
	<string>https://trolleyapp-d9636.firebaseio.com</string>
</dict>
</plist>